html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
}

.contents {
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.contents .head {
  width: 960px;
  margin: 0 auto 24px;
  background: #f4f4f4;
  box-sizing: border-box;
  padding: 24px;
}
.contents .mainArea {
  float: right;
  width: 740px;
  background: #f4f4f4;
  min-height: 850px;
  box-sizing: border-box;
  padding: 24px;
}
.contents .sideMenu {
  float: left;
  width: 180px;
  position: relative;
  background: #f7f7f7;
  z-index: 50;
}

@-webkit-keyframes active {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes active {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes active {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes active {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.sideMenu ul li:hover {
  background: #197ae5;
}
.sideMenu ul li:hover a {
  color: #fff;
}
.sideMenu ul li a {
  display: block;
  padding: 15px 10px;
  box-sizing: border-box;
  color: #575757;
}
.sideMenu ul li a + .subMenu {
  display: none;
}
.sideMenu ul li a:hover {
  background: #197ae5;
  color: #fff;
}
.sideMenu ul li a:hover + .subMenu {
  background: #197ae5;
  display: block;
  -moz-animation: active 0.2s linear 0s;
  -webkit-animation: active 0.2s linear 0s;
  animation: active 0.2s linear 0s;
}
.sideMenu ul li a:hover + .subMenu .koukoku {
  background: #2af;
  color: #fff;
  height: 100%;
}
.sideMenu ul li .subMenu {
  background: #197ae5;
  position: absolute;
  left: 179px;
  width: 400px;
  height: auto;
  margin-top: -46px;
  z-index: 100;
  color: #fff;
  -moz-box-shadow: rgba(52, 63, 77, 0.56863) 6px 6px 13px -5px;
  -webkit-box-shadow: rgba(52, 63, 77, 0.56863) 6px 6px 13px -5px;
  box-shadow: rgba(52, 63, 77, 0.56863) 6px 6px 13px -5px;
}
.sideMenu ul li .subMenu:hover {
  display: block;
}
.sideMenu ul li .subMenu ul li a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 15px 10px;
}
.sideMenu ul li .subMenu ul li a:hover {
  color: #f5f50f;
  background: #4694eb;
}
.sideMenu ul li .subMenu ul li.thirdMenu {
  display: block;
  overflow: hidden;
}
.sideMenu ul li .subMenu ul li.thirdMenu a {
  display: block;
  float: left;
}
.sideMenu ul li .subMenu ul li.thirdMenu > a:after {
  content: ">";
  margin-left: 25px;
  color: #fff;
  background: #01aa01;
}
.sideMenu ul li .subMenu ul li.thirdMenu:hover {
  background: #01aa01;
}
.sideMenu ul li .subMenu ul li.thirdMenu:hover ul {
  width: 180px;
  position: absolute;
  display: block;
  float: left;
  color: #fff;
  background: #01aa01;
  margin-left: 199px;
  -moz-box-shadow: rgba(52, 63, 77, 0.56863) 6px 6px 13px -5px;
  -webkit-box-shadow: rgba(52, 63, 77, 0.56863) 6px 6px 13px -5px;
  box-shadow: rgba(52, 63, 77, 0.56863) 6px 6px 13px -5px;
}
.sideMenu ul li .subMenu ul li.thirdMenu:hover ul li a {
  color: #fff;
  background: #01aa01;
}
.sideMenu ul li .subMenu ul li.thirdMenu:hover ul li a:hover {
  color: #f5f50f;
  background: #01c301;
}
.sideMenu ul li .subMenu ul li ul {
  display: none;
}
.sideMenu ul li .nokoukoku {
  width: 200px;
}
.sideMenu ul li .koukoku {
  position: absolute;
  top: 0;
  left: 200px;
  background: #f5f50f;
  color: #555;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}
