@import "compass/css3";

// ==================================== Color Control

$default_TextColor:#575757;
$default_BackColor:#f7f7f7;

$active_TextColor:#fff;
$active_BackColor:#197ae5;

$active_defaultTextColor:$active_TextColor;
$active_defaultBackColor:$active_BackColor;

$subA_TextColor:$active_TextColor;
$subA_BackColor:$active_BackColor;

$subA_activeTextColor:#f5f50f;
$subA_activeBackColor:lighten($subA_BackColor , 10%);


// ==================================== Width Control
$sideMenuWidth:140px;
$subMenuWidth:400px;
$koukokuAreaWidth:200px;


// ==================================== mixin Style start 

@mixin keyframes($names){

  @-webkit-keyframes #{$names} {
    @content;
  }
  @-moz-keyframes #{$names} {
    @content;
  }
  @-ms-keyframes #{$names} {
    @content;
  }
  @keyframes #{$names} {
    @content;
  }
  
}//keyFramesCode


// ==================================== page Style start

a{
  text-decoration: none;
}

.contents{
  overflow: hidden;
  width: 920px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  
  .mainArea{
    float: right;
    width: 760px;
    background: #f4f4f4;
    min-height: 850px;
    box-sizing: border-box;
    padding: 24px;
  }//mainArea
  
  .sideMenu{
    float: left;
    width: $sideMenuWidth;
    position: relative;
    background: $default_BackColor;
    z-index: 50;
  }//sideMenu
}//contents

.sideMenu{
  
  @include keyframes(active){
    from{
      opacity: 1;
    }
    to{
      opacity: 1;
    }
  }//keyframes
  
  ul{
    li{
      
      &:hover{
        background: $active_defaultBackColor;
        
        a{
          color: $active_defaultTextColor;
        }
      }//hover
      
      a{
        display: block;
        padding: 15px 10px;
        color: $default_TextColor;

        & + .subMenu{
          display: none;
        }//subMenu
        
        &:hover{
          background:$active_BackColor;
          color:$active_TextColor;
           
          & + .subMenu{
            background: $subA_BackColor;
            display: block;
            @include animation(active 0.2s linear 0s);
            
            .koukoku{
              background: #2af;
              color: #fff;
              height: 100%;
            }//koukoku
          }//subMenu
        }//hover
      }//a
      
      .subMenu{
        background: $subA_BackColor;
        position: absolute;
        top: 0;
        left: $sideMenuWidth - 1;
        width: $subMenuWidth;
        height: auto;
        z-index: 100;
        color: $subA_TextColor;
        @include box-shadow(rgba(52, 63, 77, 0.568627) 6px 6px 13px -5px);
        
        &:hover{
          display: block;
        }//hover
        
        ul{
          li{
            a{
              color: $subA_TextColor;
              
              &:hover{
                color: $subA_activeTextColor;
                background: $subA_activeBackColor;
              }//hover
            }//a
          }//li
        }//ul
      }//subMenu
      
      .nokoukoku {
        width: $subMenuWidth - $koukokuAreaWidth;
      }
      
      .koukoku{
        position: absolute;
        top: 0;
        left: $koukokuAreaWidth;
        background: #f5f50f;
        color: #555;
        width: $koukokuAreaWidth;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
      }//koukoku

    }//li
  }//ul
}//sideMenu